.productes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 25px;
}
/*graella peluixos*/

.compraDestacat1 {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;

}
/*espai de cistella i descripció de destacat 1*/

.compraDestacat23 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: flex-start;
}
/*espai de cistella i descripció de destacats 2 i 3*/

.compra {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: flex-start;
}
/*espai de cistella i descripció*/

.descripcions {
    display: grid;
}

botoCistellaDestacat1 {
    background-color: #54A5E8;
    color: white;
    font-size:18px;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    /*padding-right:13px;*/
    /*padding-left:13px;*/
}
/*botó de la cistella del destacat 1*/

botoCistellaDestacat1:hover {
    background-color: white;
    color: #54A5E8;
    cursor: pointer; /* canvia a la mà amb el dit al posar-lo damut*/
}

botoCistella {
    align-items: flex-start;
    background-color: #54A5E8;
    color: white;
    font-size:18px;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    /*padding-right:13px;*/
    /*padding-left:13px;*/
}
/*botó de la cistella*/

botoCistella:hover {
    background-color: #2287DA ;
    cursor: pointer; /* canvia a la mà amb el dit al posar-lo damut*/
}

botoCistellaDestacat23 {
    background-color: #54A5E8;
    color: white;
    font-size:18px;
    text-align: center;
    padding: 7px;
    font-family:"Cantarell Extra Bold", sans-serif ;
    border-radius: 8px;
    /*padding-right:13px;*/
    /*padding-left:13px;*/
}
/*botó de la cistella dels destacats 2 i 3*/

botoCistellaDestacat23:hover {
    background-color: white;
    color: #54A5E8;
    cursor: pointer; /* canvia a la mà amb el dit al posar-lo damut*/
}

body {
    background-color: #F2F6F6;
}
/*fons*/

.item {
    background-color: white;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
/*cada cuadret de la graella*/

.menu{
    background-color: #17388E;
    padding-top:200px;
    padding-left: 35px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-content: space-between;
}
/*columna blava menú*/

.categories {
    display: grid;
}
/*categories de la tenda*/

h1 {
    font-family:"Cantarell Extra Bold", sans-serif ;
    color:#FFFFFF;
    border: #276308;
}
/*títol tenda*/

.general {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
/*estructura principal de la web*/

.tenda {
    display: grid;
    margin-right: 50px
}
/*títol tenda i productes*/

.destacat1 {
    grid-column: span 2;
    grid-row: span 2;
}
/*producte1*/

.destacat2 {
    grid-column: span 2;
    grid-row: span 1;
}
/*producte 11 i 12*/

h2 {
    text-align: left;
    font-family: "Cantarell Extra Bold", sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}
/*preu i titol destacat*/

h3 {
    text-align: left;
    font-family: "Cantarell Light", sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*descripcions*/

cistella {
    text-align: left;
    font-family: "Cantarell Extra Bold", sans-serif;
    color: white;
    margin-right: 33px;
    margin-bottom: 33px;
    /*background: #458AF2;*/
    /*border-radius: 10px;*/
    /*padding: 10px;*/
}

.destacat1:hover {
    background-color: #A5BCD2;
    color: white;
}

.destacat2:hover {
    background-color: #A5BCD2;
    color: white;
}

h4 {
    text-align: left;
    font-family: "Cantarell Light", sans-serif;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 15px;
}
/*títol no destacat*/

a {
    text-decoration: none;
    color:white
}
/*link per a tenda 1 i 2*/